{% extends 'base.html.twig' %}

{% block title %}Hello Home!{% endblock %}

{% block body %}

{{ parent() }}

<div class="container">
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% if user==false %}
<a class="btn btn-primary" href="{{ path('app_login') }}">Ingresar</a>
{% endif %}
{% if blogs %}
    
    {% for blog in blogs %}
    <div class="card">
    <div class="card-body">
        <h1>{{blog.nombre}}</h1>
         {% for entrada in blog.entrada %}
            <h4>{{entrada.titulo}}</h4>
            <p>{{entrada.titulo}}</p>
        {% endfor %}
        <p>Credado por {{blog.user.nombre}} el {{blog.creado.format('Y-m-d')}}</p>
        {% if user %}
        <!--<a class="btn btn-primary" href="{{ path('app_crearEntrada', {id: blog.id}) }}"> Agredar Entrada</a>-->
        {% endif %}
        <hr>
    </div>
    </div>
    {% endfor %}
{% else %}
<p class="alert alert-info">No hay blogs creados</p>    
{% endif %}    
</div>
{% endblock %}
