{% extends 'base.html.twig' %}

{% block title %}Crear Entrada!{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="row h-100 justify-content-center aling-items-center">
        <div class="col-6 bg-white rounded my-3 p-5">
            <h1>Entrada</h1>
            {{ form(form)}}
        </div>
    </div>
</div>
{% endblock %}
