{% extends 'base.html.twig' %}

{% block title %}Blog!{% endblock %}

{% block body %}
{{ parent() }}
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

<div class="container-fluid">
{% if user %}
<a class="btn btn-primary" href="{{ path('app_crearEntrada') }}"> Agredar Entrada</a><br/><br/>
{% endif %}
    {% if entradas %}
        {% for entrada in entradas %}
            <div class="card">
                <div class="card-header">{{entrada.titulo}}</div>
                <div class="card-body">
                    <img src="{{entrada.imagen}}" class="card-img" style="width: 64px; height: 64px;"/>
                    <p class="card-text">{{entrada.texto}}</p>
                    {% if user %}
                    <a class="btn btn-primary" href="{{ path('app_editarEntrada',{id:entrada.id}) }}"> Editar Entrada</a>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    Autor {{entrada.blo.user.nombre}}
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
    <p class="alert alert-info">Sin entradas</p>
    {% endif %}
</div> 

{% endblock %}
